 body {
     font-family: Arial , sans-serif;
     padding: 0;
     margin: 0;
     color: #666666;
 }
 .content {
     flex: 1 0 auto;
  }
 .header__wrapper {
     background:  url(../img/beach.jpg) no-repeat center top / cover;
     padding-bottom: 15%;
 }
 .header__inner {
     display: flex;
     flex-direction: column;
 }
 .header__heading {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
 }
 .header__heading__logo {
     margin-top: 25%;
     margin-left: 40%;
 }
 .header__heading__nav {
     padding-top: 3.5%;
 }
 .header__heading__nav__menu {
     display: flex;
     flex-direction: row;
 }
 .header__heading__nav__menu__item {
     display: flex;
     flex-direction: row;
     margin-right: 30px;
 }
 .header__heading__nav__menu__item__link {
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
 }
 .header__titles {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;  
 }
 .header__titles__first {
     font-size: 35px;
     color: #fff;
     text-transform: uppercase;
     text-align: center;
     padding-top:15%;
 }
 .header__titles__second {
     font-size: 35px;
     color: #fff;
     text-transform: uppercase;
     text-align: center;
 }
 .header__titles__button {
     background: #f25a29;
     color: #fff;
     border-radius: 30px;
     padding: 20px 50px;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 15px;
     margin: 0 auto;
 }
 .services__title {
     padding-top: 5%
 }
 .services__title__titles{
     font-size: 25px;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;    
 }
 .services__title__text {
     color: #666666;
     text-align: center;
     font-size: 25px;
 }
 .services__content {
     margin-top: 5%;
     display: flex;
     justify-content: space-around;
 }
 .services__content__item {
     max-width: 20%;
     text-align: center; 
 }
 .services__content__item_titles {
     font-size: 15px;
 }
 .services__content__item_text {
     font-size: 10px;
     color: #9a9a9a;
     line-height: 1.6em;
 }
.services__content {
     padding-bottom: 10%;
 }
.advertising__wrapper {
     background: #f5f5f5;
}
.advertising__inner {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     overflow: hidden;
     padding-top:5%;
     padding-bottom: 5%;
}
.advertising__title {
     width: 40%;
}
.advertising__title__text {
     text-align: left;
     font-size: 20px;
     padding-left: 15%;
}
.advertising__title__titles {
     font-size: 25px;
     font-weight: bold;
     text-align: left;
     padding-left:10%;
}
.advertising__title__titles__addition {
     font-size: 25px;
     font-weight: bold;
     text-align: right;
     color:red;
}
.advertising__title__link {
     color: solid black;
     text-decoration: none;
     font-size: 15px;
     position: absolute;
     padding-left: 60px;
     padding-top: 10px;
 }
 .advertising__img {
     width: 30%;
 }
.about__title__titles {
     font-size: 25px;
     font-weight: bold;
     text-align: center;
}
.about__title {
     position: absolute;
}
.about__inner {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding-bottom: 10%;
}
.about__collumn__left {
     border: 1px double grey;
     width: 30%;
     margin-top: 13%;
     margin-right: 5%;
     text-align: center;
  }
.about__collumn__right {
     border: 1px double grey;
     text-align: center;
     margin-top: 13%;
     margin-right: 5%;
     width: 30%;
  }
.download__wrapper {
     background: #fafafc;
}
.download__textright__title__titles {
     font-size: 25px;
     font-weight: bold;
     text-align: right;  
}
.download__textright__title__titles__addition {
     font-size: 25px;
     font-weight: bold;
     text-align: right;
     color:red;
}
.download__inner {
     display: flex;
     flex-direction: row-reverse;
     justify-content: flex-end;
}
.download__textright {
     width: 35%; 
     padding-left: 5%;
}
.download__img {
     width: 45%;
}
.download__img__imgs {
     width: 100%;
     height: 100%;
}
.download__textright__title {
     display: flex;
     flex-direction: column;
}
.download__textright__title__titles {
     font-size: 25px;
     font-weight: bold;
     text-align: left;
     width: 100%;
}
.download__textright__title__text {
     text-align: left;
     font-size: 15px;
     padding-left: 5%;    
}
.download__textright__title__button {
     background: #f25a29;
     color: #fff;
     border-radius: 30px;
     padding: 20px 50px;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 15px;
     margin: 0 auto; 
}
.download__img__imgs {
     display: flex;
     flex-direction: row;
}
.footer__wrapper {
     background: #4a4a4a;
}
.footer__inner {
     flex: 0 0 auto;
}
.footer__inner {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.footer__arr {
     display: flex;
     align-items: center;
}
.footer__arr__text {
     color: #cfcfcf;
}
.footer__arr__footer__img__icon {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin: 0 auto;
     width: 100%;
     height: 100%;
     align-items: center;
}
.footer__arr__footer__img__icon__link {
     display: flex;
     flex-direction: row;
}
.fab {
     color: white;
}


